main {
    background-color: #e5ebec;
    height: 100%;
}

#add-bottom {
    display:flex;
    justify-content: center;
}

td {
    padding: 1em;
}

form {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

table {
    flex: 100%;
    max-width: 70%
}

h1 {
    margin-top: 0em;
    text-align: center;
}

button {
    margin: 10px; 
    width: 36%;
}

#form-submit {
    width: 40%;
}

#date, #sport, #firstName, #lastName, #location, #skillLevel, #position {
    width: 80%;
    text-align: center;
}

