<p>add-post works!</p>

<h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

<form>
    <table class="bg-white table-auto shadow-lg">
    <thead>
        <th>Test</th>
        <th>Test</th>
    </thead>
    <tr>
        <td class="border border-slate-400"><label for="firstName">First Name</label></td>
        <td class="border border-slate-400"><input id="firstName" type="text" formControlName="firstName"></td>
    </tr>

    <tr>
        <td class="border border-slate-400"><label for="lastName">Last Name</label></td>
        <td class="border border-slate-400"><input id="lastName" type="text" formControlName="lastName"></td>
    </tr>

    <tr>
        <td class="border border-slate-400"><label for="date">Date</label></td>
        <td class="border border-slate-400"><input id="date" type="date" formControlName="date"></td>
    </tr>
    <tr>
        <td class="border border-slate-400"><label for="sport">Sport</label></td>
        <td class="border border-slate-400"><select id="sport" formControlName="sport">
            <option value="volleyball">Volleyball</option>
            <option value="soccer">Soccer</option>
            <option value="basketball">Basketball</option>
            <option value="ultimate">Ultimate Frisbee</option>
            </select>
        </td>
    </tr>

    <tr>
        <td class="border border-slate-400"><label for="location">Location</label></td>
        <td class="border border-slate-400"><input id="location" type="text" formControlName="location"></td>
    </tr>

    <tr>
        <td class="border border-slate-400"><label for="gender">Gender</label></td>
        <td class="border border-slate-400"><input id="gender" type="text" formControlName="gender"></td>
    </tr>

    <tr>
        <td class="border border-slate-400"><label for="skillLevel">Skill Level</label></td>
        <td class="border border-slate-400"><input id="skillLevel" type="text" formControlName="skillLevel"></td>
    </tr>

    <tr>
        <td class="border border-slate-400"><label for="position">Position</label></td>
        <td class="border border-slate-400"><input id="position" type="text" formControlName="position"></td>
    </tr>

    </table>

    <button>Submit</button>
    <button>Cancel</button>
</form>
