body {
    background-color: #e5ebec;
}

#navbar {
    background-color: #293637;
    padding: 1em;
}

#nav-logo {
    width: 200px;
    height: 40px;
    flex:100%;
    margin: 0.5em;
}

#nav-logo:hover {
    cursor: pointer;
}

a {
    font-weight: 500;
    padding: 1em;
    margin: 0.5em;
    width: 130px;
}

a:hover {
    background-color: #375152;
}