
<div class="min-h-full">
    <nav class="mx-auto bg-gray-800 px-6 py-4 flex justify-between content-center">
        <section id="left-nav">
            <h1 class="text-white font-bold text-lg"><a routerLink="/dashboard">Name Of App</a></h1>
        </section>
        <section id="right-nav">
            <a href="#" routerLink="/account" class="hover:bg-gray-700 text-white font-medium m-3 px-3 py-3 rounded-md">My Account</a>
            <a href="#" class="hover:bg-gray-700 text-white font-medium m-3 px-3 py-3 rounded-md" >Logout</a>
        </section>
    </nav>
</div>
<router-outlet></router-outlet>

