
<body>
<div class="min-h-full">
    <nav id="navbar" class="navbar navbar-dark">
        
        <section id="left-nav">
            <img src="../../assets/pick-up-logo4.png" routerLink="/home" id="nav-logo">
            <!-- <h3 class="text-light">Pick Up</h3> -->
        </section>
        <section id="right-nav">
            <a class="text-light btn display-5" href="#" routerLink="/dashboard">Dashboard</a>
            <a class="text-light btn display-5" href="#" routerLink="/account">My Account</a>
            <a class="text-light btn display-5" href="#" >Logout</a>
        </section>
    </nav>
</div>

<router-outlet></router-outlet>
</body>

