
<main>
    <section id="listing-header">
        <h1 class="display-3">FIND A TEAM</h1>
    </section>
    <section id="listing-block" class="p-3">
        <ng-template ngFor let-listing [ngForOf]="listings">
            <section class="card shadow-sm mb-2">
                <div class="card-body">
                    <h5 class="card-title display fs-4">{{ listing.firstName }}: Looking For {{ listing.sport }} Sub</h5>
                    <div id="listing-left">
                        
                        <p class="display fs-5">Date Needed: {{ listing.date }}</p>
                        <p class="display fs-5">Looking for: {{ listing.gender }}</p>

                    </div>
                    <div id="listing-right">
            
                    <p class="display fs-5">Skill Level: {{ listing.skillLevel }}</p>
                    <p class="display fs-5">Location: {{ listing.location }}</p>
                    </div>
                </div>
            </section>
        </ng-template>
    </section>
</main>
