<div id="landing-img">
    <div id="landing-box">
        <section id="intro-right">
            <img src="../../assets/pick-up-logo4.png" class="companylogo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, turpis at cursus gravida, ex nulla consequat justo, at aliquam eros sapien vel purus. Pellentesque sollicitudin viverra dictum. Suspendisse elementum posuere nisi, at ultrices nulla elementum nec. Proin varius efficitur finibus. Sed suscipit eros vitae erat vehicula pulvinar. Vestibulum felis nibh, consectetur eget bibendum sed, dictum a lacus. Duis faucibus consequat neque gravida sodales. Fusce in odio et arcu maximus mollis. Aliquam semper nibh ut tortor mattis, eget porttitor mauris lobortis.</p>
        </section>
    </div>
</div>

<div class="landing-container">
    <div class="icon-info-container">
    
    <div class="icon-info">
        <img src="../../assets/blacksoccericon.png">
        <h2>Find a team to play with today</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, turpis at cursus gravida, ex nulla consequat justo, at aliquam eros sapien vel purus. Pellentesque sollicitudin viverra dictum. Suspendisse elementum posuere nisi, at ultrices nulla elementum nec.</p>
    </div>
    <div class="icon-info">
        <img src="../../assets/baseball-icon.png" class="img-sm">
        <h2>Missing a player? Find a sub here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, turpis at cursus gravida, ex nulla consequat justo, at aliquam eros sapien vel purus. Pellentesque sollicitudin viverra dictum. Suspendisse elementum posuere nisi, at ultrices nulla elementum nec.</p>
    </div>
    <div class="icon-info">
        <img src="../../assets/blackvballicon.png" class="img-sm">
        <h2>Organize pick up games with others</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, turpis at cursus gravida, ex nulla consequat justo, at aliquam eros sapien vel purus. Pellentesque sollicitudin viverra dictum. Suspendisse elementum posuere nisi, at ultrices nulla elementum nec.</p>
    </div>
    <div class="icon-info">
        <img src="../../assets/blackyogaicon.png">
        <h2>Find a workshop in your community</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, turpis at cursus gravida, ex nulla consequat justo, at aliquam eros sapien vel purus. Pellentesque sollicitudin viverra dictum. Suspendisse elementum posuere nisi, at ultrices nulla elementum nec.</p>
    </div>
</div>
</div>
