main {
    background-color: #e5ebec;
    height: 100%;
}

#dashboard-btns {
    display:flex;
    flex-wrap:wrap;

    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex:100%;
    color: white;
}

.dashboard-btn {
    border: 1px solid black;
    margin: 3px;
    padding: 1em;
    width: 35%;
    height: 8em;
    /* display: flex;
    justify-content: center; */
    

}

.dashboard-btn:hover {
    cursor: pointer;
    background-color: #f0f2f5;
}



.opacbox {
    width: 100%;
    background-color: hsl(184, 15%, 19%,0.35);

}

.dashboard-btn p {
    text-align: center;
    opacity: 1.0
}

#findteams {
    background-image: url("../../assets/drop_in.jpg")
}

#findsubs {
    background-image: url("../../assets/find_subs.jpg")
}

#pickup {
    background-image: url("../../assets/find_team.jpg")
}

#workshops {
    background-image: url("../../assets/workshops.jpg")
}

#myaccount {
    background-image: url("../../assets/workshops.jpg")
}


.template {
    display: flex;
    flex-direction: row;
}

