<!-- <body class="bg-gray-400 m-0"> -->
<main>
<section id="dashboard-btns" class="p-3">
<!-- <ng-template ngFor let-sport [ngForOf]="sports" class="template"> -->
  <div id="findteams" class="shadow-sm mb-2 display-6 dashboard-btn" (click)="navigateTo('Find Teams')">
    <div class="opacbox">
    <p>Find Teams</p>
    </div>
  </div>
  <div id="findsubs" class="shadow-sm mb-2 display-6 dashboard-btn" (click)="navigateTo('Find Subs')">
    <div class="opacbox">
    <p>Find Subs</p>
  </div>
  </div>
  <div id="pickup" class="shadow-sm mb-2 display-6 dashboard-btn" (click)="navigateTo('Pick-Up Events')">
    <div class="opacbox">
    <p>Pick-Up Games</p>
    </div>
  </div>
  <div id="workshops" class="shadow-sm mb-2 display-6 dashboard-btn" (click)="navigateTo('Workshops')">
    <div class="opacbox">
    <p>Workshops</p>
    </div>
  </div>
<!--   
  <div id="myaccount" class="shadow-sm mb-2 display-6 dashboard-btn" (click)="navigateTo('My Account')">
    <div class="opacbox">
    <p>My Account</p>
    </div>
  </div> -->

<!-- </ng-template> -->
</section>
</main>

  <!-- <main>
    <div class="grid-cols-2">
      <div class="dash_card align" id="find_subs">
        <img class="" src="./assets/find_subs.jpg" alt="subs" />
        <p class="justify-center">Find Subs</p>
      </div>

      <div class="dash_card" id="find_team">
        <img src="./assets/find_team.jpg" alt="team" />
        <p>Find Team</p>
      </div>
      <div class="dash_card" id="drop_in">
        <img src="./assets/drop_in.jpg" alt="dropins" />
        <p>Drop Ins</p>
      </div>
      <div class="dash_card" id="workshops">
        <img src="./assets/workshops.jpg" alt="workshops" />
        <p>Workshops</p>
      </div>
   </div>
  </main>
</body> -->

