<body class="bg-slate-900 text-white" >
<!-- <h1 class="text-2xl">My Profile</h1>
<div class="">
<div id="first_name">Samuel</div>
<div id="last_name">Jungles</div>
<div id="sports">Soccer, Volleyball</div>
<div id="rating">7.8</div>
</div> -->

<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3></h3>
    </div>
  </div>
</div>
</body>