section {
display:flex;
    padding: 2em;
    margin: 1em;
}

#profile_pic{
  width:50vw;
}

form {
    width: 100%;
    align-items: center;
    margin:auto;
    margin-left: 2em; 
}

#buttons{
  margin: 0 9em;
}

#form-submit{
  margin-right: 10px;
  margin-left: 10px;
}

#form-cancel{
  margin-right: 10px;
  margin-left: 10px;
}

