<body>
  <h1>My Profile</h1>
  <div class="container" id="profile_card">
    <div class="row">
      <div class="col" id="profilepic">
        <img class="h-50" src="./assets/profile.jpg" />
      </div>
      <div class="col" id="bio_info">
        <div id="first_name">First Name : Samuel</div>
        <div id="last_name">Last Name: Jungles</div>
        <div id="sports">Sports Played : Soccer, Volleyball</div>
        <div id="rating">Fun Rating : 7.8</div>
      </div>
    </div>
  </div>
</body>