section {
display:flex;
    padding: 2em;
    margin: 0em;
}

#profile_pic{
  width:30vw;
}

form {
    width: 100%;
    align-items: center;
    margin:auto;
    margin-left: 2em; 
}

#buttons{
  margin: 0 9em;
}

#form-submit{
  margin-right: 10px;
  margin-left: 10px;
}

#form-cancel{
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

